{% extends 'raovat/user/dashboard.html' %}
{% load static %}
{% block page %}
<div class="row">
    <div class="col-md-12 m-t-40 margin_top">
        <div class="change_password m-t-0" style="max-width: 400px;">
            <h3>change password</h3>
                <form method="post" action="">
                    {% csrf_token %}
                <div class="form-group">
                   {{ form.password }}

                </div>
                <div class="form-group">
                     {{ form.newpassword }}

                </div>
                <div class="form-group">
                   {{ form.renewpassword }}

                </div>
                <button class="change_btn mt-2 text-capitalize" type="submit" value="button">Thay đổi</button>
            </form>
            </div>
    </div>
</div>
<div class="single-sidebar m-t-50 m-b-50">
    <img class="add_img img-fluid" src="images/discount-img.png" alt="Classified Plus">
</div>
  <style>

        #id_diachi {
            height:100px;
        }
        .errorlist li {
            color: red;
        }
    </style>
{% endblock %}