{% extends "raovat/main.html" %}

{% block main %}
<div class="track_inner">
    <div class="track_title" style="padding-bottom:30px;">
        <h2>Xác thực tài khoản</h2>
        <p>Vui lòng chọn một trong hai phương thức dưới đây để xác thực tài khoản.</p>
    </div>
    <form class="track_form row" method="POST" action=".">
        {% csrf_token %}
        <div class="col-lg-12 " style="text-align: center; font-size: 18px;">
            <input type="radio" name="verify" value="sdt" id="id_sdt" checked>
            <label for="id_sdt">Xác thực bằng số điện thoại.</label>
        </div>
        <div class="col-lg-12 " style="text-align: center; font-size: 18px;">
            <input type="radio" name="verify" value="email" id="id_email">
            <label for="id_email">Xác thực bằng email.</label>
        </div>
        <div class="col-lg-12 form-group">
            <button type="submit" value="submit" class="btn subs_btn form-control">Xác thực</button>
        </div>
    </form>
</div>

{% endblock  %}
