{% extends 'raovat/main.html' %}
{% load static %}

{% block main %}
<!-- banner -->
<section class="banner">
        <div class="banner-innerpage Category_banner">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center ">
      <!-- Column -->
      <div class="text-center">
        <h1 class="title">Category</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
          </ol>
        </nav>
      </div>
      <!-- Column -->
    </div>
</div>
      </div>
</section>
<!-- End banner -->
<!-- Categories -->
<section class="categories">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Select one of the best Category</h2>
      </div>
    </div>
    <!-- Row  -->
    <div class="row">
      <div class="col-md-3 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories1.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Vehicles.png" alt="Classified Plus"/>
            <p> Vehicles </p>
            </a> </div>
        </div>
      </div>
      <div class="col-md-3 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories2.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Electronics.png"  alt="Classified Plus"/>
            <p> Electronics </p>
            </a> </div>
        </div>
      </div>
      <div class="col-md-6 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories3.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Fashion-1.png" alt="Classified Plus"/>
            <p> Fashion </p>
            </a> </div>
        </div>
      </div>
      <div class="col-md-6 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories4.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Furniture.png" alt="Classified Plus"/>
            <p> Furniture </p>
            </a> </div>
        </div>
      </div>
      <div class="col-md-3 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories5.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Animals.png" alt="Classified Plus"/>
            <p> Animals </p>
            </a> </div>
        </div>
      </div>
      <div class="col-md-3 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories6.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Mobiles.png" alt="Classified Plus"/>
            <p> mobiles </p>
            </a> </div>
        </div>
      </div>

      <div class="col-md-3 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories7.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/jobs.png" alt="Classified Plus"/>
            <p> job </p>
            </a> </div>
        </div>
      </div>
            <div class="col-md-6 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories8.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Baby-products.png" alt="Classified Plus"/>
            <p> Baby products </p>
            </a> </div>
        </div>
      </div>

      <div class="col-md-3 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories9.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Services.png" alt="Classified Plus"/>
            <p> services </p>
            </a> </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-6">
      <div class="row">
      <div class="col-md-12 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories10.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Real-Estate.png" alt="Classified Plus"/>
            <p> Real Estate </p>
            </a> </div>
        </div>
      </div>
      <div class="col-md-12 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories11.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/Education.png" alt="Classified Plus"/>
            <p> Education </p>
            </a> </div>
        </div>
      </div>
      </div>
      </div>
      <div class="col-md-6">
      <div class="row">
      <div class="col-md-12 m-t-30">
        <div class="categories_box"> <a href="#"><img src="/static/images/Categories/categories12.png" alt="Classified Plus"/></a>
          <div class="overlay text-center"> <a href="#"><img src="/static/images/Categories/matrimony.png" alt="Classified Plus"/>
            <p> Matrimony </p>
            </a> </div>
        </div>
      </div>
      </div>
      </div>
      </div>
    </div>
</section>
<!-- End Categories -->

<!-- App_Store -->
<section class="app_store m-t-50">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h2 class="title">Download on App Store</h2>
        <div class="clearfix"></div>
        <h6 class="subtitle">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row">
      <div class="app_parts ">
        <button class="app-btn btn" type="submit" value="butten"><i class="fa fa-apple app-icon "></i> Apple Store </button>
        <button class="app-btn btn" type="submit" value="butten"><i class="fa fa-android app-icon"></i> Apple Store </button>
        <button class="app-btn btn" type="submit" value="butten"><i class="fa fa-windows app-icon"></i> Apple Store </button>
      </div>
    </div>
  </div>
</section>
<!-- End App_Store -->

<!-- Testimonial -->
<section class="testimonials">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 text-center">
        <h2 class="title">Testimonials</h2>
        <h6 class="subtitle">What Our Clients Says</h6>
      </div>
    </div>
    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carouse2">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators2" data-slide-to="0" class=""><img class="testimonial-image" src="/static/images/testimonials_2.png" alt="Classified Plus"></li>
        <li data-target="#carouselExampleIndicators2" data-slide-to="1" class="active"><img class="testimonial-image" src="/static/images/testimonials_1.png"  alt="Classified Plus"></li>
        <li data-target="#carouselExampleIndicators2" data-slide-to="2"><img class="testimonial-image" src="/static/images/testimonials_3.png"  alt="Classified Plus"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's<br>
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to<br>
            make a type specimen book. It has survived not only five centuries, </p>
          <h3>Williams Sherry</h3>
          <h4>User</h4>
        </div>
        <div class="carousel-item active">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's<br>
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to<br>
            make a type specimen book. It has survived not only five centuries, </p>
          <h3>Williams Sherry</h3>
          <h4>User</h4>
        </div>
        <div class="carousel-item">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's<br>
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to<br>
            make a type specimen book. It has survived not only five centuries, </p>
          <h3>Williams Sherry</h3>
          <h4>User</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonial -->
{% endblock %}