{% extends 'raovat/main.html' %}
{% load static %}
{% load humanize %}
{% block main %}
<style xmlns="http://www.w3.org/1999/html">.header {position: unset;}</style>
<!-- breadcrumb -->
<div class="iner_breadcrumb p-t-20 p-b-20">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">{{ post.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.subcategory }}</li>
      </ul>
    </nav>
  </div>
</div>
<!-- End breadcrumb -->

<!-- Detail_part -->
<section class="detail_part m-t-50">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="detail_box">
            <div class="big-imgsss">
                <img id="img_01" data-zoom-image="" src="{% for h in post.images_set.all|slice:"1" %}{{ h.image.url }}{% endfor %}" alt="HP ENVY 13-ad139TU">
            </div>
            <div id="gal1sss">
                {% for h in post.images_set.all %}
                <a data-image="{{ h.image.url }}" data-zoom-image="{{ h.image.url }}">
                    <img id="img_01" src="{{ h.image.url }}" />
                </a>
                {% endfor %}
            </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="detail_box">
          <div class="detail_head">
            <h3> {{ post.title|capfirst }} </h3>

              <ul class="list-unstyled text-capitalize m-b-0 m-t-15">
              <li class="d-inline-block p-r-20"><a href="#"> <i class="fa fa-clock-o"></i> <span> {{ post.ngaytao|date:'d/m/y' }} </span></a> </li>
              <li class="d-inline-block p-r-20"><a href="#"> <i class="fa fa-tags"></i><span> Mới </span></a> </li>
              <li class="d-inline-block"><a href="#"> <i class="fa fa-eye"></i> <span> Lượt xem 15</span> </a> </li>
            </ul>
          </div>
            <div class="text-stars m-t-5">
                Đánh giá :
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
            </div>
            <p>{{ post.mota|truncatewords_html:20|safe }}</p>
            <br>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={% url 'sanpham:Chi-tiet-bai' post.slug %}" class="fa fa-facebook" style="border-radius: 3px; margin: 0px; background: #3B5998; color: white; padding: 6px 10px; font-size: 13px; "><label style="font-weight: bold; margin: 0px; margin-left: 3px; font-family: Arial; cursor: pointer;">Chia sẻ</label></a>
          <div class="detail_bottum m-t-15">
            <div class="row">
              <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12 col-12">
                <div class="form-check">
                  <label class="form-check-label"> </label>
                  <img src="/static/images/warrenty.png" alt="Classified Plus">
                  <div class="warranty d-inline-block">Tin đăng<br>
                    đã kiểm duyệt</div>
                </div>
              </div>
              <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12 col-12">
                <div class="form-check">
                  <label class="form-check-label"> </label>
                  <img src="/static/images/insurance.png" alt="Classified Plus">
                  <div class="warranty d-inline-block">Người bán<br>
                    xác thực</div>
                </div>
              </div>
            </div>
          </div>
          <div class="detail_prize p-t-10">
            <ul class="list-unstyled">
              <li class="d-inline-block pr-3"> Giá : </li>
              <li class="d-inline-block Price_m"> {{ post.gia|intcomma }} vnđ </li>
            </ul>
          </div>
          <div class="detail_btn d-flex m-t-20">
              <a class="btn_chat w-100 text-white mr-3 py-2 border-0" href="https://zalo.me/{{ post.user.SDT }}" target="_blank">
                  <button style="background: none;border: none;color: white;" type="submit" value="button"><i class="fa fa-comment-o"></i> Chat Zalo</button>
              </a>
              <a class="btn_chat w-100 text-white py-2 border-0" onclick="sodienthoai()" id="sodienthoai">
                  <button style="background: none;border: none; color: white;" type="submit" value="button"> <i class="fa fa-phone"></i> Xem số {{ post.user.SDT|truncatechars:5 }}</button>
              </a>
              <script>function sodienthoai() {  document.getElementById("sodienthoai").innerHTML = "{{ post.user.SDT}}";}</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Description -->

<!-- Description -->
<section class="description">
  <div class="container">

    <!-- Row  -->
    <div class="row justify-content-left">
      <div class="col-md-9 text-left">
        <h2 class="title">Mô tả</h2>
      </div>
       <div class="col-md-3 text-left">
{#        <h2 class="title">Quảng cáo</h2>#}
      </div>
    </div>
    <!-- Row  -->

    <div class="row">
      <div class="col-md-9">
        <div class="description_box">
          {{ post.mota|safe }}
            <button class="btn-primary" type="button" data-toggle="modal"
                    data-target="#ttlh">Click để xem thông tin liên hệ
            </button>
            <br>
            <div class="btn-group py-2">
                <a class="button" href="https://zalo.me/{{ post.user.SDT }}" target="_blank">
                    <i class="fa fa-comments"></i> Chat zalo</a>
                <a class="button" href="tel:{{ post.user.SDT }}" target="_blank">
                    <i class="fa fa-phone fa-flip-horizontal"></i> Gọi điện</a>
                <a class="button" href="sms:{{ post.user.SDT }}" target="_blank">
                    <i class="fa fa-sms fa-flip-horizontal"></i> Nhắn tin</a>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="single-sidebar"> <img class="add_img img-fluid" src="/static/images/google_adds2.png" alt="Classified Plus"> </div>
      </div>
    </div>
  </div>
      </div>
</section>
<!-- End Description -->

<!-- Top_listings -->
<section class="top_listings">
  <div class="container">

    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center m-b-10">
        <h2 class="title">Tin đăng cùng ở {{ post.thanhphos }}</h2>
      </div>
    </div>
    <!-- Row  -->
<!--Post liên quan : plq-->
    <div class="row">
        {% for p in p_tp|slice:'4' %}
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="featured-parts rounded m-t-30">
          <div class="featured-img"> <img class="img-fluid rounded-top" src="{% for h in p.images_set.all|slice:"1" %}{{ h.image.url }}{% endfor %}" style="height: 150px;">
            <div class="featured-new bg_warning1"> <a href="#"> New </a> </div>
          </div>
          <div class="featured-text">
            <div class="text-top d-flex justify-content-between ">
              <div class="heading"><a href="{% url 'sanpham:Chi-tiet-bai' p.slug %}">{{ p.title }}</a> </div>
              <div class="book-mark"><a href="#"><i class="fa fa-bookmark"></i></a></div>
            </div>
            <div class="text-stars m-t-5">
                <p>{{ p.gia|intcomma }} đ</p>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <div class="featured-bottum m-t-30">
              <ul class="d-flex justify-content-between list-unstyled m-b-20">
                <li><a href="#"><i class="fa fa-map-marker"></i> {{ p.quan_huyen|capfirst}} - {{ p.thanhphos|capfirst }}</a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> Save</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  <!--Post liên quan thành phố--->
  <div class="row justify-content-center">
      <div class="col-md-7 text-center m-b-10">
        <h2 class="title">Tin đăng liên quan</h2>
      </div>
    </div>
  <div class="row">
        {% for p in plq|slice:'4' %}
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="featured-parts rounded m-t-30">
          <div class="featured-img"> <img class="img-fluid rounded-top" src="{% for h in p.images_set.all|slice:"1" %}{{ h.image.url }}{% endfor %}" style="height: 150px;">
            <div class="featured-new bg_warning1"> <a href="#"> New </a> </div>
          </div>
          <div class="featured-text">
            <div class="text-top d-flex justify-content-between ">
              <div class="heading"><a href="{% url 'sanpham:Chi-tiet-bai' p.slug %}">{{ p.title }}</a> </div>
              <div class="book-mark"><a href="#"><i class="fa fa-bookmark"></i></a></div>
            </div>
            <div class="text-stars m-t-5">
                <p>{{ p.gia|intcomma }} đ</p>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <div class="featured-bottum m-t-30">
              <ul class="d-flex justify-content-between list-unstyled m-b-20">
                <li><a href="#"><i class="fa fa-map-marker"></i> {{ p.quan_huyen|capfirst}} - {{ p.thanhphos|capfirst }}</a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> Save</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="single-sidebar m-b-50 m-t-50 text-center"> <img class="add_img img-fluid" src="/static/images/discount-img.png" alt="Classified Plus"> </div>
      </div>
    </div>
  </div>
</section>
<!-- End top_listings -->

<div class="modal fade" id="ttlh" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" style="font-family: roboto;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thông tin liên hệ</h4>
        </div>
        <div class="modal-body" style="border-left: 1px solid #14466c;padding: 10px 9px 10px;">
           <p><b>Hotline : </b> <a href="tel:{{post.user.SDT }}"> {{post.user.SDT }}</a>.</p>
           <p><b>Email : </b>{{post.user.email }}.</p>
           <p><b>Địa chỉ : </b><a href="https://www.google.com/maps/place/{{post.diachi }},{{ post.quan_huyen }},{{post.thanhphos }}"target="_blank">{{post.diachi }}-{{ post.quan_huyen }}-{{post.thanhphos }}</a></p>
            <span><i>Click vào để xem địa chỉ trên google map</i></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>
        </div>
</div>
{% endblock %}
{% block style %}
    <style>
        .button, a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
    font-size: 13px;
    border-radius: 4px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    color: #f0f5fc;
    background: #1f469e;
    border-color: #234fb3 #1b3d89 #1b3d89 #234fb3;
                margin: 2px;
}
    </style>

<script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
{#<script src="https://free-html.com/product/wp-content/themes/sanpham/js/jquery.reel-min.js"></script>#}
<script type="text/javascript" src="{% static "js/slider-product.js" %}"></script>
    {% endblock %}