{% load humanize %}
<section class="featured_ads bg-light">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Bài đăng nổi bật</h2>
        <h6 class="subtitle">Danh sách các tin đăng nổi bật.</h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row">
        {% for p in post %}
            {% if p.action == True %}
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="featured-parts rounded m-t-30">
          <div class="featured-img"> <img class="img-fluid rounded-top" src="{% for h in p.images_set.all|slice:"1" %}{{ h.image.url }}{% endfor %}" style="height: 150px;" alt="{{ p.title }}"/>
                <div class="featured-new"> <a href="#"> Mới </a> </div>
{#              <div class="discount"> <a href="#"> Discount 30% </a> </div>#}
            <div class="featured-price" style=" background: #000000bf;"> <a href="#" style="text-transform: lowercase; font-weight: 600;"> {{ p.gia|intcomma }} đ </a> </div>
          </div>
          <div class="featured-text">
            <div class="text-top d-flex justify-content-between ">
              <div class="heading"> <a href="{% url 'sanpham:Chi-tiet-bai' p.slug %}">{{ p.title }}</a> </div>
              <div class="book-mark"><a href="#"><i class="fa fa-bookmark"></i></a></div>
            </div>
            <div class="text-stars m-t-5">
              <p>{{ p.mota|safe|truncatewords_html:10 }}</p>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <div class="featured-bottum m-t-30">
              <ul class="d-flex justify-content-between list-unstyled m-b-20">
                <li><a href="https://www.google.com/maps/place/{{p.diachi }},{{ p.quan_huyen }},{{p.thanhphos }}"target="_blank"><i class="fa fa-map-marker"></i>{{ p.quan_huyen }}-{{p.thanhphos }}</a></li>
                  <li><a href=""><i class="fa fa-heart-o"></i> Lưu tin</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
            {% endif %}
        {% endfor %}
{#    <div class="loader" id="loadMore" style="text-align:center;">XEM THÊM SẢN PHẨM</div>#}

    </div>
  <button class="view-btn hvr-pulse-grow loader" id="loadMore" type="submit" value="loadMore">View all</button>
  <button class="view-btn hvr-pulse-grow loader" id="showLess" type="submit" value="loadMore">Show less</button>
  </div>
</section>
<style>.col-xl-3.col-lg-3.col-md-6.col-sm-6{display:none}#loadMore{color:green;cursor:pointer}#loadMore:hover{color:#000}#showLess{color:red;cursor:pointer}#showLess:hover{color:#000}</style>