{% extends 'raovat/user/dashboard.html' %}
{% load static %}
{% block page %}
    <style>.django-ckeditor-widget {display: flex;}</style>
<div class="dashboard_profile_main">
    <div class="dashboard_heding">
        <h3> Đăng bài viết </h3>
    </div>
</div>
<div class="row mt-4" style="border:1px solid #cecbcb;border-radius: 5px;padding: 20px;">
    <form id="dang-bai" action="" method="post" enctype="multipart/form-data">
        <div class="row">
        <div class="col-md-7"style="border-right:1px solid #cecbcb;">
            <div class="profile_detail">
                <h3>Thông tin </h3>
                        {% csrf_token %}
                        {{ hinh.media }}
                        {{ f.media }}
                    <div class="form-group">
                        <label>{{ f.title.label }}</label>
                        {{ f.title }}
                    </div>
                    <body onload="resetSelection()">
                    <div class="form-group selectdiv">
                        <label>{{ f.category.label }}</label>
                        {{ f.category }}
                    </div>
                    <div class="form-group selectdiv">
                        <label>{{ f.subcategory.label }}</label>
                        {{ f.subcategory }}
                    </div>
                    </body>
                    <div class="form-group">
                        <label>{{ f.gia.label }}</label>
                        {{ f.gia }}
                    </div>
                    <div class="ad_description">
                        <label>Mô tả</label>
                        <div class="form-group">
                            <div class="ad_description_type">
                                <div class="note-editor">
                                    {{ f.mota }}
                                </div>
                            </div>
                        </div>
                    </div>
                   {% comment %} <div class="price_premium">
                        <div class="price_parts mt-4">
                            <label>prices</label>
                            <div class="form-group">
                                <div class="price_box">
                                    <table class="table table-xl mb-0">
                                        <tbody>
                                            <tr>
                                                <td class="border-top-0 pr-0">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                    </div>
                                                </td>
                                                <td class="text-white border-top-0 text-left"><span class="premium"><i class="fa fa-star"></i> <span class="vhb">Premium<span></span></span>
                                                    </span>
                                                </td>
                                                <td class="border-top-0 Price">Price</td>
                                                <td class="border-top-0"><strong>$20</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="border-top-0">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                    </div>
                                                </td>
                                                <td class="border-top-0 text-left"><span class="sponsored_btn">Sponsored</span>
                                                </td>
                                                <td class="border-top-0 Price">Price</td>
                                                <td class="border-top-0"><strong>$20</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="border-top-0">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                    </div>
                                                </td>
                                                <td class="border-top-0 text-left"><span class="featured_btn"><i class="fa fa-star-o"></i> Featured</span>
                                                </td>
                                                <td class="border-top-0 Price">Price</td>
                                                <td class="border-top-0"><strong>$25</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>{% endcomment %}
            </div>
        </div>
        <div class="col-md-5">
            <div class="change_password">
                <h3>Liên hệ - Hình ảnh</h3>
                    <div class="form-group">
                        <label>{{ f.diachi.label }}</label>
                        {{ f.diachi }}
                    </div>
                    <div class="form-group selectdiv">
                        <label>{{ f.thanhphos.label }}</label>
                        {{ f.thanhphos }}
                    </div>
                    <div class="form-group selectdiv">
                        <label>{{ f.quan_huyen.label }}</label>
                        {{ f.quan_huyen }}
                    </div>
                    <div class="img_browse">
                        <label>Thêm hình ảnh</label>
                        <div class="form-group">
                            <div class="tg-fileuploadlabel">
                                {{ hinh.management_form }}
    {#                            <button class="form-control-file text-capitalize" type="submit" value="button">Select Files</button>#}
                                {{ hinh }}
                                <span>Upload tối đa 3 hình ảnh: 500 KB</span> </div>
                        </div>
                    </div>

                    <button class="change_btn mt-2 text-capitalize" type="submit" value="button">ad post</button>
            </div>
        </div>
        </div>
    </form>
</div>



<script type="text/javascript">
        var subcategory = {
        {% for b in cate  %}
        {{ b.id }} : [{% for s in b.subcategory.all %}"{{ s.id }}\">{{ s.title }}",{% endfor %}],
        {% endfor %}
        }

        function makeSubmenu(value) {
            if (value.length == 0) document.getElementById("id_subcategory").innerHTML = "<option></option>";
            else {
                var citiesOptions = "";
                for (categoryId in subcategory[value]) {
                    citiesOptions += "<option value=\"" + subcategory[value][categoryId] + "</option>";
                }
                document.getElementById("id_subcategory").innerHTML = citiesOptions;
            }
        }

        function displaySelected() {
            var danhmuc = document.getElementById("id_category").value;
            var subdanhmuc = document.getElementById("id_subcategory").value;
            alert(danhmuc + "\n" + subdanhmuc);
        }

        function resetSelection() {
            document.getElementById("id_category").selectedIndex = 0;
            document.getElementById("id_subcategory").selectedIndex = 0;
        }
</script>

<script type="text/javascript">
        var cityy = {
        {% for b in tp  %}
        {{ b.id }} : [{% for s in b.quan_huyen.all %}"{{ s.id }}\">{{ s.title }}",{% endfor %}],
        {% endfor %}
        }

        function makecity(value) {
            if (value.length == 0) document.getElementById("id_quan_huyen").innerHTML = "<option></option>";
            else {
                var citiesOptions = "";
                for (categoryId in cityy[value]) {
                    citiesOptions += "<option value=\"" + cityy[value][categoryId] + "</option>";
                }
                document.getElementById("id_quan_huyen").innerHTML = citiesOptions;
            }
        }

        function displaySelected() {
            var danhmuc = document.getElementById("id_thanhphos").value;
            var subdanhmuc = document.getElementById("id_quan_huyen").value;
            alert(danhmuc + "\n" + subdanhmuc);
        }

        function resetSelection() {
            document.getElementById("id_thanhphos").selectedIndex = 0;
            document.getElementById("id_quan_huyen").selectedIndex = 0;
        }
</script>
<style>
    .change_password input[type="file"] {
    border-radius: 0;
    height: 25px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 0px 4px #b5b5b5cc;
    -moz-box-shadow: 0px 0px 1px 0px #b5b5b5cc;
    box-shadow: 0px 0px 0px 1px #b5b5b5cc;
    border: none;
}
</style>
{% endblock %}