{% extends 'raovat/user/dashboard.html' %}
{% load static %}
{% load humanize %}
{% block page %}
<div class="dashboard_main">
    <div class="dashboard_heding">
        <h3> My Add </h3>
    </div>
    <div class="row">
        <div class=" col-md-12 all_ads">
            <ul class="list-unstyled m-0">
                <li class="my_ad m-b-15"><a href="#"> All(42) </a>
                </li>
                <li class="my_ad m-b-15"><a href="#"> Published (88) </a>
                </li>
                <li class="my_ad m-b-15"><a href="#"> Featured (12) </a>
                </li>
                <li class="my_ad m-b-15"><a href="#"> Sold (02) </a>
                </li>
                <li class="my_ad m-b-15"><a href="#"> Active (42) </a>
                </li>
                <li class="my_ad m-b-15"><a href="#"> Expired (01) </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m-t-15">
        <div id="recent-transactions" class="col-12"> <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements"> </div>
            <div class="table">
                <table class="table table-xl mb-0 table-responsive">
                    <thead>
                        <tr>
                            <th class="border-top text-capitalize ml-44">
                                <input class="form-check-input" value="" type="checkbox"> Hình </th>
                            <th class="border-top text-capitalize">Tiêu đề </th>
                            <th class="border-top text-capitalize">Danh mục </th>
                            <th class="border-top text-capitalize">Trạng thái</th>
                            <th class="border-top text-capitalize">Giá </th>
                            <th class="border-top text-capitalize">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for p in post %}
                        <tr>
                            <td class="text-truncate">
                                <div class="form-check">
                                    <input class="form-check-input" value="" type="checkbox">
                                        <div class="recent_img">
                                            <img src="{% for h in p.images_set.all|slice:"1" %}{{ h.image.url }}{% endfor %}" alt="rao vat" width="70" height="70">
                                        </div>
                                </div>
                            </td>
                            <td class="text-truncate">
                                <p>{{ p.title }}
                                    <br> Ngày tạo: {{ p.ngaytao|date:"d/m/Y"}}</p>
                            </td>
                            <td class="text-truncate"><a href="#">{{p.category }} </a>
                            </td>
                            <td>{% if p.action == True %}
                                <button type="button" class="btn btn-sm active_btn">Hoạt động</button>
                                {% else %}
                                <button type="button" class="btn btn-sm sold_btn">Đã bán</button>
                                {% endif %}
                            </td>
                            <td class="text-truncate"><strong style="font-size: 12px;">{{ p.gia|intcomma }} vnđ</strong>
                            </td>
                            <td class="text-truncate">
                                {% if p.action %}
                                    <a href="{% url 'sanpham:Trang-thai-post_hidden' p.id %}">
                                        <button type="submit" value="butten"><i class="fa fa-eye"></i></button>
                                    </a>
                                {% else %}
                                    <a href="{% url 'sanpham:Trang-thai-post_active' p.id %}">
                                        <button type="submit" value="butten"><i class="fa fa-eye"></i></button>
                                    </a>
                                {% endif %}
                                <span>
                                    <a href="{% url 'sanpham:Sua-bai-viet' p.id %}">
                                        <button type="submit" value="butten"> <i class="fa fa-pencil"></i> </button>
                                    </a>
                                </span>
                                <span>
                                    <a href="{% url 'sanpham:Xoa-bai-viet' p.id %}">
                                        <button type="submit" value="butten"> <i class="fa fa-trash"></i> </button>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center m-t-20 m-b-50">
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">4</a>
        </li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>
<div class="single-sidebar m-b-50"> <img class="add_img img-fluid" src="images/discount-img.png" alt="Classified Plus"> </div>
{% endblock %}