{% extends 'raovat/main.html' %}
{% load static %}
{% block main %}
<style>
.header {
    position: unset;
}
</style>
<div class="iner_breadcrumb bg-light p-t-20 p-b-20">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">404</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End breadcrumb -->
<section class="error_section">
<div class="container">
<div class="error_parts text-center">
<div class="row  justify-content-center">
<div class="col-md-12 col-lg-6 col-sm-12">
    <h3> 404 </h3>
    <h4> Oop, that link is broken. </h4>
    <p> We are sorry, but something went wrong </p>
<div class="form-group col-md-12 col-sm-12 col-xs-12  m-t-40">
                      <button class="btn btn-primary btn-skin back" name="submit" onclick="parent.location='{% url 'home:trang-chu' %}'" type="submit"> Back to homepage</button>
                    </div>

<form class="search-form m-t-35">
              <input placeholder="Search..." type="text">
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
</div>
</div>



</div>
</div>
</section>
{% endblock %}