{% load static %}
<!-- Footer -->
<footer class="footer_all">
  <div class="footer">
    <div class="container spacer b-t">

    <div class="footer-top d-flex justify-content-between">
      <div class="footer-logo"> <img class="img-fluid" src="{% static 'images/footer-logo.png'%}" alt="footer-logo"> </div>
      <div class="footer-subscribe">
      <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
  </div>
  <input type="text" class="form-control text-truncate" placeholder="Subscribe to Our News Offers" aria-label="Amount (to the nearest dollar)">
</div>
      </div>
    </div>


      <div class="row">
        <div class="col-lg-3 col-md-3 m-b-30">
          <h3 class="mb-3"> Tips And help </h3>
          <ul class="p-0">
          <li><a href="#">About Classified</a></li>
          <li><a href="#">Classified Blog</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Press Contact</a></li>
          <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 m-b-30">
          <h3 class="mb-3">Quik Links </h3>
          <ul class="p-0">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">All Cities</a></li>
          <li><a href="#">Help & Support</a></li>
          <li><a href="#">Advertise With Us</a></li>
          <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 m-b-30">
          <h3 class="mb-3">How to sell fast</h3>
          <ul class="p-0">
          <li><a href="#">How to sell fast</a></li>
          <li><a href="#">Membership</a></li>
          <li><a href="#">Promote your ad</a></li>
          <li><a href="#">Trade Delivers</a></li>
          <li><a href="#">FAQ</a></li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-3 m-b-30">
          <h3 class="mb-3">How to sell fast</h3>
          <p>We have over 15 years of experience
</p>
          <p>Our suppoer available to help you 24 hours a day, seven days week
</p>
<h3 class="mb-3 mt-3">Follow US</h3>
<ul class="list-unstyled d-flex p-0 soical-icon">
                          <li class="mr-2"><a href="#"><i class="fa fa-facebook-f"></i> </a></li>
                          <li class="mr-2"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                          <li class="mr-2"><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                          <li class="active"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="mt-3 mb-3 copyright">&copy;Copyright 2000-2018 example.com Limited. All rights reserved </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<div class="top_awro pull-right" id="back-to-top" data-original-title="" title="">
    <i class="fa fa-chevron-up" aria-hidden="true"></i> </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="{% static 'js/custom.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
<script src="{% static 'js/owlcarousel/owl.carousel.min.js'%}"></script>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
