{% extends 'raovat/main.html' %}
{% load static %}

{% block main %}
<!-- Slider -->
<section class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"> <img src="{% static 'images/banner.png' %}" alt="Classified Plus" class="slide-image">
        <div class="slide-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>World's Largest Classifieds Site</h1>
                <p>re!</p>
                <div>
                  <form class="book-now-home">
                    <div class="form-group">
                      <input type="email" class="form-control text-truncate" placeholder="What are you looking for">
                    </div>
                    <div class="form-group selectdiv">
                      <select class="form-control text-truncate">
                        <option>Your Location</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group selectdiv">
                      <select class="form-control border-right-0 text-truncate">
                        <option>Select Category</option>
                        <option>Vehicles</option>
                        <option>Electronics</option>
                        <option>Mobiles</option>
                        <option>Furniture</option>
                        <option>Fashion</option>
                        <option>Real Estate</option>
                        <option>Animals</option>
                        <option>Education</option>
                        <option>Baby products</option>
                        <option>Services</option>
                        <option>Furniture</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary booknow btn-skin">Search Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item"> <img src="{% static 'images/banner2.png'%}" alt="Classified Plus" class="slide-image">
        <div class="slide-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>World's Largest Classifieds Site</h1>
                <p>Search from over 15,00,000 classifieds & Post unlimited classifieds free!</p>
                <div>
                  <form class="book-now-home">
                    <div class="form-group">
                      <input type="email" class="form-control text-truncate" placeholder="What are you looking for">
                    </div>
                    <div class="form-group selectdiv">
                      <select class="form-control text-truncate">
                        <option>Your Location</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group selectdiv">
                      <select class="form-control border-right-0 text-truncate">
                        <option>Select Category</option>
                        <option>Vehicles</option>
                        <option>Electronics</option>
                        <option>Mobiles</option>
                        <option>Furniture</option>
                        <option>Fashion</option>
                        <option>Real Estate</option>
                        <option>Animals</option>
                        <option>Education</option>
                        <option>Baby products</option>
                        <option>Services</option>
                        <option>Furniture</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary booknow btn-skin">Search Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item"> <img src="{% static 'images/banner.png' %}" alt="Classified Plus" class="slide-image">
        <div class="slide-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>World's Largest Classifieds Site</h1>
                <p>Search from over 15,00,000 classifieds & Post unlimited classifieds free!</p>
                <div>
                  <form class="book-now-home">
                    <div class="form-group">
                      <input type="email" class="form-control text-truncate" placeholder="What are you looking for">
                    </div>
                    <div class="form-group selectdiv">
                      <select class="form-control text-truncate">
                        <option>Your Location</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                    <div class="form-group selectdiv">
                      <select class="form-control border-right-0 text-truncate">
                        <option>Select Category</option>
                        <option>Vehicles</option>
                        <option>Electronics</option>
                        <option>Mobiles</option>
                        <option>Furniture</option>
                        <option>Fashion</option>
                        <option>Real Estate</option>
                        <option>Animals</option>
                        <option>Education</option>
                        <option>Baby products</option>
                        <option>Services</option>
                        <option>Furniture</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary booknow btn-skin">Search Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
</section>
<!-- End Slider --> 

<!-- Categories -->
<section class="categories">
  <div class="container"> 
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center m-b-10">
        <h2 class="title">Categories</h2>
        <h6 class="subtitle">Explore the greates places in the city.</h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row">
      <div class="col-md-12">
        <ul class="list-unstyled text-center p-t-30">
          <li><a href="#"><img src="{% static 'images/Vehicles.png'%}" alt="Classified Plus"/>
            <p> Vehicles </p>
            </a> </li>
          <li><a href="#"><img src="{% static 'images/Electronics.png'%}" alt="Classified Plus"/>
            <p> Electronics </p>
            </a> </li>
          <li><a href="#"><img src="{% static 'images/Mobiles.png'%}" alt="Classified Plus"/>
            <p>Mobiles </p>
            </a> </li>
          <li><a href="#"><img src="{% static 'images/Furniture.png'%}" alt="Classified Plus"/>
            <p> Furniture</p>
            </a> </li>
          <li><a href="#"><img src="{% static 'images/Fashion.png'%}" alt="Classified Plus"/>
            <p> Fashion </p>
            </a> </li>
          <li><a href="#"><img src="{% static 'images/Real-Estate.png'%}" alt="Classified Plus"/>
            <p> Real Estate </p>
            </a> </li>
          <li><a href="#"><img src="{% static 'images/Animals.png'%}" alt="Classified Plus/">
            <p> Animals </p>
            </a> </li>
          <li><a href="#"><img src="{% static 'images/Education.png'%}" alt="Classified Plus"/>
            <p>Education </p>
            </a> </li>
          <li><a href="#"><img src="{% static 'images/Baby-products.png'%}" alt="Classified Plus"/>
            <p>Baby products</p>
            </a> </li>
          <li><a href="#"> <img src="{% static 'images/Services.png'%}" alt="Classified Plus"/>
            <p>Services </p>
            </a> </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Categories --> 

<!-- Featured_ads -->
<section class="featured_ads bg-light">
  <div class="container"> 
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Featured Ads</h2>
        <h6 class="subtitle">Explore the greates places in the city.</h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="featured-parts rounded m-t-30">
          <div class="featured-img"> <img class="img-fluid rounded-top" src="{%static 'images/Featured-img-1.png' %}" alt="Classified Plus"/>
            <div class="featured-new"> <a href="#"> New </a> </div>
          </div>
          <div class="featured-text">
            <div class="text-top d-flex justify-content-between">
              <div class="heading"> <a href="#">Mobile</a> </div>
              <div class="book-mark"><a href="#"><i class="fa fa-bookmark"></i></a></div>
            </div>
            <div class="text-stars m-t-5">
              <p>Smartphone for sele</p>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <div class="featured-bottum m-t-30">
              <ul class="d-flex justify-content-between list-unstyled m-b-20">
                <li><a href="#"><i class="fa fa-map-marker"></i> East 7th street 98 </a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> Save</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="featured-parts rounded m-t-30">
          <div class="featured-img"> <img class="img-fluid rounded-top" src="{%static 'images/Featured-img-2.png' %}" alt="Classified Plus"/> </div>
          <div class="featured-text">
            <div class="text-top d-flex justify-content-between">
              <div class="heading"> <a href="#">Fashion</a> </div>
              <div class="book-mark"><a href="#"><i class="fa fa-bookmark-o"></i></a></div>
            </div>
            <div class="text-stars m-t-5">
              <p>Cloth for sele</p>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <div class="featured-bottum m-t-30">
              <ul class="d-flex justify-content-between list-unstyled m-b-20">
                <li><a href="#"><i class="fa fa-map-marker"></i> East 7th street 98 </a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> Save</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="featured-parts rounded m-t-30">
          <div class="featured-img"> <img class="img-fluid rounded-top" src="{%static 'images/Featured-img-3.png' %}" alt="Classified Plus"/>
            <div class="discount"> <a href="#"> Discount 30% </a> </div>
            <div class="featured-price"> <a href="#"> $550.00 </a> </div>
          </div>
          <div class="featured-text">
            <div class="text-top d-flex justify-content-between ">
              <div class="heading"> <a href="#">Matrimony</a> </div>
              <div class="book-mark"><a href="#"><i class="fa fa-bookmark"></i></a></div>
            </div>
            <div class="text-stars m-t-5">
              <p>jewellery for sele</p>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <div class="featured-bottum m-t-30">
              <ul class="d-flex justify-content-between list-unstyled m-b-20">
                <li><a href="#"><i class="fa fa-map-marker"></i> East 7th street 98 </a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> Save</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="featured-parts rounded m-t-30">
          <div class="featured-img"> <img class="img-fluid rounded-top" src="{%static 'images/Featured-img-4.png' %}" alt="Classified Plus"/> </div>
          <div class="featured-text">
            <div class="text-top d-flex justify-content-between">
              <div class="heading"> <a href="#">Animals</a> </div>
              <div class="book-mark"><a href="#"><i class="fa fa-bookmark"></i></a></div>
            </div>
            <div class="text-stars m-t-5">
              <p>Greyhounds Dogs for sales</p>
              <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
            <div class="featured-bottum m-t-30">
              <ul class="d-flex justify-content-between list-unstyled m-b-20">
                <li><a href="#"><i class="fa fa-map-marker"></i> East 7th street 98 </a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> Save</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button class="view-btn hvr-pulse-grow" type="submit" value="button">View all</button>
    </div>
  </div>
</section>
<!-- End Featured_ads --> 

<!-- Trending_ads -->
<section class="trending_ads">
  <div class="container"> 
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Trending Ads</h2>
        <h6 class="subtitle">Explore the greates places in the city.</h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="trending-parts bg-light rounded m-t-30">
          <div class="trending-img"> <img class="img-fluid rounded-top" src="{%static 'images/Trending-img-1.png' %}" alt="Classified Plus">
            <div class="featured-new"> <a href="#"> Open New </a> </div>
            <div class="trending_hed text-left">
              <h4> Cities Finest Spa </h4>
              <p> Kenny Dr Granada Hills, CA 91344 </p>
            </div>
          </div>
          <div class="trending-text p-t-25 p-b-20 p-l-15 p-r-15">
            <div class="text-top d-flex justify-content-between  m-t-15 p-b-10">
              <div class="trending-left"><a href="#" class="m-r-5"><i class="fa fa-heart-o"></i> 5</a> <a href="#"><i class="fa fa-comment-o"></i> 8</a> </div>
              <div class="trending-right"> <a href="#"> Fashion </a> </div>
            </div>
            <div class="trending-bottum d-flex p-t-15 p-b-10"> <a href="#" class="a m-r-15 text-uppercase m-t-5 color_1"> a </a>
              <p> Lorem Ipsum is simply dummy text and of the printing typesetting </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="trending-parts bg-light rounded m-t-30">
          <div class="trending-img"> <img class="img-fluid rounded-top" src="{%static 'images/Trending-img-2.png' %}" alt="Classified Plus">
            <div class="trending_hed text-left">
              <h4>Top Furniture </h4>
              <p> Kenny Dr Granada Hills, CA 91344 </p>
            </div>
          </div>
          <div class="trending-text p-t-25 p-b-20 p-l-15 p-r-15">
            <div class="text-top d-flex justify-content-between  m-t-15 p-b-10">
              <div class="trending-left"><a href="#" class="m-r-5"><i class="fa fa-heart-o"></i> 5</a> <a href="#"><i class="fa fa-comment-o"></i> 8</a> </div>
              <div class="trending-right"> <a href="#"> Furniture </a> </div>
            </div>
            <div class="trending-bottum d-flex p-t-15 p-b-10"> <a href="#" class="a m-r-15 text-uppercase m-t-5 color_2"> b </a>
              <p> Lorem Ipsum is simply dummy text and of the printing typesetting </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="trending-parts bg-light rounded m-t-30">
          <div class="trending-img"> <img class="img-fluid rounded-top" src="{%static 'images/Trending-img-3.png' %}" alt="Classified Plus">
            <div class="featured-new"> <a href="#"> Open New </a> </div>
            <div class="trending_hed text-left">
              <h4> Cream Restaurant </h4>
              <p> Kenny Dr Granada Hills, CA 91344 </p>
            </div>
          </div>
          <div class="trending-text p-t-25 p-b-20 p-l-15 p-r-15">
            <div class="text-top d-flex justify-content-between  m-t-15 p-b-10">
              <div class="trending-left"><a href="#" class="m-r-5"><i class="fa fa-heart-o"></i> 5</a> <a href="#"><i class="fa fa-comment-o"></i> 8</a> </div>
              <div class="trending-right"> <a href="#"> Fast Food </a> </div>
            </div>
            <div class="trending-bottum d-flex p-t-15 p-b-10"> <a href="#" class="a m-r-15 text-uppercase m-t-5 color_3"> c </a>
              <p> Lorem Ipsum is simply dummy text and of the printing typesetting </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="trending-parts bg-light rounded m-t-30">
          <div class="trending-img"> <img class="img-fluid rounded-top" src="{%static 'images/Trending-img-4.png' %}" alt="Classified Plus">
            <div class="trending_hed text-left">
              <h4> Auto Frame Business </h4>
              <p> Kenny Dr Granada Hills, CA 91344 </p>
            </div>
          </div>
          <div class="trending-text p-t-25 p-b-20 p-l-15 p-r-15">
            <div class="text-top d-flex justify-content-between  m-t-15 p-b-10">
              <div class="trending-left"><a href="#" class="m-r-5"><i class="fa fa-heart-o"></i> 5</a> <a href="#"><i class="fa fa-comment-o"></i> 8</a> </div>
              <div class="trending-right"> <a href="#"> Vehicles </a> </div>
            </div>
            <div class="trending-bottum d-flex p-t-15 p-b-10"> <a href="#" class="a m-r-15 text-uppercase m-t-5 color_1"> e </a>
              <p> Lorem Ipsum is simply dummy text and of the printing typesetting </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="trending-parts bg-light rounded m-t-30">
          <div class="trending-img"> <img class="img-fluid rounded-top" src="{%static 'images/Trending-img-5.png' %}" alt="Classified Plus">
            <div class="featured-new"> <a href="#"> Open New </a> </div>
            <div class="trending_hed text-left">
              <h4> USA Universities </h4>
              <p> Kenny Dr Granada Hills, CA 91344 </p>
            </div>
          </div>
          <div class="trending-text p-t-25 p-b-20 p-l-15 p-r-15">
            <div class="text-top d-flex justify-content-between  m-t-15 p-b-10">
              <div class="trending-left"><a href="#" class="m-r-5"><i class="fa fa-heart-o"></i> 5</a> <a href="#"><i class="fa fa-comment-o"></i> 8</a> </div>
              <div class="trending-right"> <a href="#"> Education </a> </div>
            </div>
            <div class="trending-bottum d-flex p-t-15 p-b-10"> <a href="#" class="a m-r-15 text-uppercase m-t-5 color_1"> e </a>
              <p> Lorem Ipsum is simply dummy text and of the printing typesetting </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="trending-parts bg-light rounded m-t-30">
          <div class="trending-img"> <img class="img-fluid rounded-top" src="{%static 'images/Trending-img-6.png' %}" alt="Classified Plus">
            <div class="featured-new"> <a href="#"> Open New </a> </div>
            <div class="trending_hed text-left">
              <h4>Cream Restaurant </h4>
              <p> Kenny Dr Granada Hills, CA 91344 </p>
            </div>
          </div>
          <div class="trending-text p-t-25 p-b-20 p-l-15 p-r-15">
            <div class="text-top d-flex justify-content-between  m-t-15 p-b-10">
              <div class="trending-left"><a href="#" class="m-r-5"><i class="fa fa-heart-o"></i> 5</a> <a href="#"><i class="fa fa-comment-o"></i> 8</a> </div>
              <div class="trending-right"> <a href="#"> Matrimony </a> </div>
            </div>
            <div class="trending-bottum d-flex p-t-15 p-b-10"> <a href="#" class="a m-r-15 text-uppercase m-t-5 color_3"> c </a>
              <p> Lorem Ipsum is simply dummy text and of the printing typesetting </p>
            </div>
          </div>
        </div>
      </div>
      <button class="view-btn hvr-pulse-grow" type="submit" value="button">View all</button>
    </div>
  </div>
</section>
<!-- End Trending_ads --> 

<!-- Trusted -->
<section class="trusted p-b-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="trusted_parts text-center">
          <h3> 1238+ </h3>
          <p class="p-t-20">Completed Project</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="trusted_parts text-center mr-auto">
          <h3> 1238+ </h3>
          <p class="p-t-20">Happy Client</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="trusted_parts text-center mr-auto">
          <h3>1238+ </h3>
          <p class="p-t-20">Award Winner</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Trusted --> 

<!-- We_Bes -->
<section class="we_bes p-b-45">
  <div class="container"> 
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="title">Why We Are Best</h2>
        <h6 class="subtitle">Explore the greates places in the city.</h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="d-flex m-t-40">
          <div class="counter_icon mr-3"><i class="fa fa-eye"></i> </div>
          <div class="counter_number">
            <h3> Eye on Quality </h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="d-flex m-t-40 justify-content-between">
          <div class="counter_icon mr-3"><i class="fa fa-lock"></i> </div>
          <div class="counter_number">
            <h3> Protection Guaranteed </h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="d-flex m-t-40">
          <div class="counter_icon mr-3"><i class="fa fa-comments"></i></div>
          <div class="counter_number">
            <h3> 24/7 Support </h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="d-flex m-t-40">
          <div class="counter_icon mr-3"><i class="fa fa-laptop"></i></div>
          <div class="counter_number">
            <h3> Prompt Complaint Response </h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="d-flex m-t-40 d-flex">
          <div class="counter_icon mr-3"><i class="fa fa-check-square-o"></i></div>
          <div class="counter_number">
            <h3> Verified Ads </h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="d-flex m-t-40 d-flex">
          <div class="counter_icon mr-3"><i class="fa fa-leaf"></i></div>
          <div class="counter_number">
            <h3> Secure Payment Gateway </h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End We_Bes --> 

<!-- App_Store -->
<section class="app_store">
  <div class="container"> 
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h2 class="title">Download on App Store</h2>
        <div class="clearfix"></div>
        <h6 class="subtitle">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</h6>
      </div>
    </div>
    <!-- Row  -->
    <div class="row">
      <div class="app_parts ">
        <button class="app-btn btn" type="submit" value="butten"><i class="fa fa-apple app-icon "></i> Apple Store </button>
        <button class="app-btn btn" type="submit" value="butten"><i class="fa fa-android app-icon"></i> Apple Store </button>
        <button class="app-btn btn" type="submit" value="butten"><i class="fa fa-windows app-icon"></i> Apple Store </button>
      </div>
    </div>
  </div>
</section>
<!-- End App_Store -->

<!-- Testimonial -->
<section class="testimonial p-b-40">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 text-center">
        <h2 class="title">Testimonials</h2>
        <h6 class="subtitle">What Our Clients Says</h6>
      </div>
    </div>
    <div class="col-xs-12 m-t-40">
      <ul class="thumbnails owl-carousel owl-theme owl-loaded owl-drag list-unstyled" id="slider_one">
<li>
                  <div class="testimonials-parts"> <img src="{% static 'images/John-Peter.png' %}" alt="Classified Plus"/>
                    <div class="testimonials-text">
                      <h3 class="w-25 p-b-10 m-b-10"> John Peter </h3>
                      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                      <div class="soical-icon ">
                        <ul class="list-unstyled d-flex m-t-20">
                          <li class="border mr-1"><a href="#"><i class="fa fa-facebook-f"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                          <li class="active border"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
</li>
<li>

                  <div class="testimonials-parts"> <img src="{% static 'images/Williams-Sherry.png' %}" alt="Classified Plus"/>
                    <div class="testimonials-text">
                      <h3 class="w-25 p-b-10 m-b-10"> John Peter </h3>
                      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                      <div class="soical-icon ">
                        <ul class="list-unstyled d-flex m-t-20">
                          <li class="border mr-1"><a href="#"><i class="fa fa-facebook-f"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                          <li class="active border"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </li>
<li>

                  <div class="testimonials-parts"> <img src="{% static 'images/John-Peter.png' %}" alt="Classified Plus"/>
                    <div class="testimonials-text">
                      <h3 class="w-25 p-b-10 m-b-10"> John Peter </h3>
                      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                      <div class="soical-icon ">
                        <ul class="list-unstyled d-flex m-t-20">
                          <li class="border mr-1"><a href="#"><i class="fa fa-facebook-f"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                          <li class="active border"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </li>
<li>

                  <div class="testimonials-parts"> <img src="{% static 'images/Williams-Sherry.png' %}" alt="Classified Plus"/>
                    <div class="testimonials-text">
                      <h3 class="w-25 p-b-10 m-b-10"> John Peter </h3>
                      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                      <div class="soical-icon ">
                        <ul class="list-unstyled d-flex m-t-20">
                          <li class="border mr-1"><a href="#"><i class="fa fa-facebook-f"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                          <li class="active border"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </li>
<li>
                  <div class="testimonials-parts"> <img src="{% static 'images/John-Peter.png' %}" alt="Classified Plus"/>
                    <div class="testimonials-text">
                      <h3 class="w-25 p-b-10 m-b-10"> John Peter </h3>
                      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                      <div class="soical-icon ">
                        <ul class="list-unstyled d-flex m-t-20">
                          <li class="border mr-1"><a href="#"><i class="fa fa-facebook-f"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-twitter"></i> </a></li>
                          <li class="border mr-1"><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                          <li class="active border"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
</li>

        
      </ul>
      <!-- /#myCarousel --> 
      
    </div>
  </div>
</section>
<!-- End Testimonial --> 

{% endblock %}